$font-default: Georgia, 'Times New Roman', Times, serif//'Helvetica Neue', Helvetica, arial, sans-serif
$font-body: $font-default //'Droid Sans', sans-serif
$font-headline: 'Oswald', 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif // Georgia, Times New Roman, serif
$font-small-headline: $font-headline //"Arial Black", "Arial Bold", Helvetica, Gadget, sans-serif
$font-code: Monaco,Consolas,"Andale Mono","DejaVu Sans Mono",monospace
