<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8 />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> {% if page.title %} {{ page.title }} | {% endif %} Camel Cases</title>
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:900' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ site.url }}/css/style.css" />
</head>
<body>
<header class="site-header">
  <div class="wrapper">
    <h1 class="branding"><img src="{{ site.url }}/assets/svg/logo.svg" alt="Camel Cases"></h1>
    <nav class="main-nav" role="navigation">
      <ul>
        <li class="{% if page.url == '/index.html' %}active{% endif %}"><a href="{{ site.url }}/">Articles</a></li>
        <li class="{% if page.url == '/snippets/index.html' %}active{% endif %}"><a href="{{ site.url }}/snippets">Snippets</a></li>
        <li class="{% if page.url == '/about/index.html' %}active{% endif %}"><a href="{{ site.url }}/about">About</a></li>
      </ul>
    </nav>
  </div>
</header>