%title
  font-size: 2.2em
  margin-top: 0

  @include breakpoint(small)
    font-size: 2em

  a
    color: inherit

    &:hover
      color: $accent

/* =Page
/*---------------------------------------------*/

.page
  margin: 4em 0 8em

.page-title
  @extend %title

/* =Post
/*---------------------------------------------*/

.post,
.post-preview
  margin: 4em 0
  overflow: hidden
  padding-bottom: 2em

.post-preview
  .post-title,
  .post-excerpt
    float: right
    width: 80%

    @include breakpoint(small)
      float: none
      width: auto

  .post-excerpt
    margin-top: 0

  .post-meta
    float: left
    width: 20%

    @include breakpoint(small)
      float: none
      width: auto

.post-title
  @extend %title

.post-excerpt
  margin-bottom: 1.5em

.post-body
  p
    font-size: 1.1em

    &:first-child
      font-size: 1.4em
      margin-bottom: 1.5em

.more-link
  border-bottom: 1px solid $borders
  float: left
  display: block
  text-align: center
  width: 100%

  a
    background: #fff
    position: relative
    top: 18px
    text-decoration: none


@include breakpoint(medium)
  span[data-typography]
    color: $secondary
    font-family: $font-headline
    font-size: 1em      

  span[data-typography]:before
    content: attr(data-typography)
    color: $tertiary
    opacity: 0.2
    font-family: $font-headline
    font-size: 15em
    line-height: 100%
    margin-top: -70px
    margin-left: -40px
    padding-right: 0.1em
    position: absolute
    vertical-align: top
    z-index: -1

/* =Snippet post
/*---------------------------------------------*/

.post-preview.cat-snippets
  .post-excerpt
    text-align: center