.wrapper
  margin: 0 auto
  max-width: 700px
  width: 90%

/* =Classes
/*---------------------------------------------*/

.aligncenter
  text-align: center

/* =Button
/*---------------------------------------------*/

.btn,
.btn:visited
  border: 1px solid $borders
  color: $accent
  @include border-radius(4px)
  padding: 0.5em 1em

  &:hover
    border-color: $accent

/* =Meta
/*---------------------------------------------*/
.publish-date
  font-size: 1.1em
  text-align: center
  font-style: italic

  .date
    color: $accent